# API Football (RapidAPI)
RAPIDAPI_KEY=ta_clé_ici
RAPIDAPI_HOST=api-football-v1.p.rapidapi.com

# Groq
GROQ_API_KEY=ta_clé_groq_ici
GROQ_MODEL=llama-3.3-70b-versatile

# App
PORT=3001
NODE_ENV=development

# Frontend
VITE_API_BASE_URL=http://localhost:3001
